<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Debug-only: allow adb to start media jobs for device verification -->
    <application>
        <service
            android:name=".MediaJobService"
            android:exported="true"
            android:foregroundServiceType="mediaProcessing"
            tools:replace="android:exported"/>
    </application>
</manifest>
